{
  "name": "{{PKG_NAME}}",
  "version": "1.0.0",
  "description": "{{DESCRIPTION}}",
  "main": "{{OUTPUT_FILE}}",
  "scripts": {
    "dev": "node ../../scripts/build.mjs dev",
    "build": "node ../../scripts/build.mjs production"
  }
}
